<!DOCTYPE html>
<html>
<head>
<title>AngularJS - CRUD </title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../js/main.js" ></script>
<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../css/main.css" type="text/css"></head>
</head>
<body  ng-app="myApp">

<!-- Adding the ng-app declaration to initialize AngularJS -->
<div id="main"  ng-controller="CRUDController">
     
       <form class="form-horizontal" role="form" ng-submit="addRow()">
              <div class="form-group">
                <label class="col-md-4 control-label">Name
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="name"
                         ng-model="name" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Employees
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="employees"
                         ng-model="employees" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Headoffice
                </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="headoffice"
                         ng-model="headoffice" />
                </div>
              </div>
              <div class="form-group">								
                <div style="padding-left:110px">
                  <input type="submit" value="Submit" class="btn btn-primary"/>
				  	<a href="../../index.php" class="btn btn-default">Back</a>
				  
                </div>
			
              </div>
            </form>
         <form class="form-horizontal" >
         <div class="form-group">
            <div style="padding:20px 0px 60px 0px">
              <label class="col-md-4 control-label" style="font-weight:bold">Search
              </label>
              <span class="col-md-6">
                <input class="form-control ng-valid ng-dirty" ng-model="searchKeyword" type="text" />
              </span>
            </div>
		</div>
		
            <table class="table" >
              <tr>
                <th style="text-align: center;">Name
                </th>
                <th>Employees
                </th>
                <th>Head Office
                </th>
                <th>Action
                </th>
              </tr>
              <tr ng-repeat="company in companies | filter: searchKeyword " >
                <td>{{company.name}}
                </td>
                <td>{{company.employees}}
                </td>
                <td>{{company.headoffice}}
                </td>
                <td>
                  <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(company.name)"/>
                </td>
              </tr>
            </table>
          
       </form>
      
  
</div>
</body>
</html>
